@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #00467F 0%, #A5CC82 100%);
}

.header {
    margin-left: 117px;
    margin-right: 117px;
    margin-top: 42px;
    display: flex;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: yellow;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-left: 200px;
    margin-top: -8px;
}

.menu {
    margin-left: 300px;
    margin-top: 15px;
}

ul {
    display: flex;
    width: 379px;
    width: 100%;
    list-style: none;
}

li {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 2px solid yellow;
}

li.selected {
    border-bottom: 2px solid yellow;
}

a.account:hover {
    border-bottom: none;
    color: orange;
}

.animate {
    width: 500px;
    height: 500px;
    padding-left: 100px;
}

iframe {
    border-radius: 30px;
}